
.theader {
    margin: 0 auto;
    width: 200px
}
.tgameboard {
    display:flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    margin: 50px auto 0;
}
.trow {
    display: flex;
    flex-direction: row;
    width: 600px;
}
.tsquare {
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    outline: inherit;
    width: 200px;
    height: 200px;
    border: 1px solid;
}
.tsquare:hover {
    cursor: pointer;
}
.playerChoice {
    margin: auto;
    width: 100px;
}